<div class="container">
  <h1> <%=	image_tag 'info-icon.png' %> Metro Information</h1>
  <div class="comment-index-wrapper">
    <% @comments.each do |comment| %>
      <h3><%=	comment.comment_title %></h3>
      <p><%= comment.comment_text %></p>
      <p><%= link_to 'Show Post', comment, 'class' => 'btn btn-primary' %></p>
      <hr/>
    <% end %>
  </div>
</div>