<div class="jumbotron">

  <h1>Welcome to Metro Post</h1>
  <p>Metro Post is a place to share information about the LA metro rail service.</p>

  <!-- hide sign up button upon login -->
  <% unless current_user %>
    <p> <%= link_to 'Sign Up', new_user_path, 'class' => 'btn btn-primary' %> </p>
  <% end %>

</div>

<div class="container">
  <% flash.each do |key,value|%>
    <div class="bg-<%= key %> flash-message"> <%= value %>  </div>
  <% end %>
</div>







