// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-comment-form {
  width: 800px;
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
}

.new-comment-wrapper {
  width: 800px;
  margin: 0 auto;
}