// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.sign-in-form {
  width: 300px;
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
}

.sign-in-wrapper {
  width: 300px;
  margin: 0 auto;
  margin-top: 75px;
}

.flash-message {
  padding: 20px;
  border-radius: 10px;
}
