// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

nav .btn {
  margin-left: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  text-align: center;
}

.circles-jumbo {
  margin-bottom: 10px;
}

.circle-img-jumbo {
  margin-right: 20px;
}

.marketing-wrapper {
  margin-bottom: 50px;
}

.marketing {
  text-align: center;
}
